.formContainer {
    display: flex;

    flex-direction: column;

    label {

        &:focus {
            background-color: red;
        }
    }

    

}

.formInput.formInput {

    border-radius: 8px;

}

.formButton.formButton {
    margin: 8px;

}
.alert {
    margin: 8px;
    width: 28ch;

}